# Environment setting, should be "production" for production environments
NODE_ENV=production
# Secret key used for application security, generate with `openssl rand -hex 32`
SECRET_KEY=CHANGE_ME
# Unique key for utilities, format not important, can be generated with `openssl rand -hex 32`
UTILS_SECRET=CHANGE_ME
# Database connection URL, point to production database in production
DATABASE_URL=postgres://admin:PASSWORD@postgres:5432/outline
# Uncomment the following line to disable SSL for Postgres connections
PGSSLMODE=disable
# Redis connection URL
REDIS_URL=redis://redis:6379
# Fully qualified, publicly accessible URL of the application
URL=https://wiki.domain.local
# Port the application should run on
PORT=3000
# Storage system to use for files, either "s3" or "local"
FILE_STORAGE=local
# Directory to store files if FILE_STORAGE is set to "local"
FILE_STORAGE_LOCAL_ROOT_DIR=/var/lib/outline/data
# Maximum allowed size for uploaded attachments (in bytes)
FILE_STORAGE_UPLOAD_MAX_SIZE=262144000
POSTGRES_USER=admin
POSTGRES_PASSWORD=PASSWORD
POSTGRES_DB=outline
DOMAINS=wiki.domain.local
STAGE=local
WEBSOCKET=true
CLIENT_MAX_BODY_SIZE=0
SLACK_CLIENT_ID=CHANGE_ME
SLACK_CLIENT_SECRET=CHANGE_ME